* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
}

.hero {
    padding: .5rem;
}

.hero__title {
    color: #810081;
}

.hero__highlight {
    color: #1A01CD;
    font-weight: 700;
}

.hero__announcement {
    background-color: #0E008B;
    color: aliceblue;
    padding: 1rem;
    text-align: center;
}

.footer__text {
    margin-block: 0;
    text-align: end;
}